
.worker-avatar-img {
    position: absolute;
    top: 36px;
    left: 60px;
}

.worker-info-block {
    margin-top: 100px;
}

.worker-title-block {
    margin-left: 150px;
}

.worker-company-title {
    font-size: 32px;
    font-weight: bold;
    margin: 25px 0px 0px;
    color: #3e3e3e;
}

.worker-company-list {
    list-style-type: none;
    padding: 0px 45px 0px 15px;
    margin: 6px 0px 0px;
}

.worker-company-item {
    padding: 10px 0px;
    border-bottom: 1.5px solid #C4CAD8;
}

.company-name {
    color: #C4CAD8;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color;
}

.company-sub-menu {
    border: 1px solid #C4CAD8;
    padding: 18px;
    border-radius: 5px;
    display: none;
}

.company-task-name {
    font-size: 14px;
    font-weight: bold;
    color: #3e3e3e;
    width: calc(100% - 195px);
}

.company-task-procent {
    font-size: 12px;
    font-weight: bold;
    color: #299EFF;
    margin-right: 5px;
}

.sub-menu-item {
    margin-bottom: 16px;
}

/* Наведение на компанию */
.company-name:hover {
    color: #3e3e3e;
}

/* Активная компания */
.company-active {
    color: #3e3e3e;
    display: block;
    margin-bottom: 8px;
}

.company-active ~ .company-sub-menu {
    display: block;
}