.main-block-container {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: #f7f8fa;
    overflow: hidden;
}

/* left-bar */
.left-bar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 225px;
    height: 100vh;
    background: #fff;
    padding-top: 40px;
    z-index: 1;
}

.lmenu {
    display: block;
    margin: 25px auto;
    padding: 0px;
    padding-left: 0px;
    list-style: none;
}

.lmenu-item {
    padding: 10px 0px;
    padding-left: 75px;
    position: relative;
    cursor: pointer;
    color: #C4CAD8;
    border-left: 4px solid #fff;
    margin: 10px 0px;
    transition-property: background;
    transition-duration: 0.3s;
}

.lmenu-item:hover {
    background: #fcfcfc;
    border-color: #fcfcfc;
}

.lmenu-item::before {
    content: '';
    position: absolute;
    top: 8px; left: 30px;
    width: 30px;
    height: 24px;
    filter: grayscale(1);
    opacity: 0.5;
}

.lmenu-item:nth-child(1)::before {
    background: url(../IMG/edit.svg) no-repeat center;
}

.lmenu-item:nth-child(2)::before {
    background: url(../IMG/checked.svg) no-repeat center;
}

.lmenu-item:nth-child(3)::before {
    background: url(../IMG/avatar1.svg) no-repeat center;
}

.lmenu-item:nth-child(4)::before {
    background: url(../IMG/upload-to-cloud.svg) no-repeat center;
}

.active{
    transition-property: all;
    transition-duration: 0.3s;
}

.lmenu .active{
    background: #F7F8FA;
    border-left: 4px solid #299EFF;
    opacity: 1;
    color: #91959F;
}

.active::before{
    filter: grayscale(0);
    opacity: 1;
}
/* top-bar */

.project-logo {
    position: absolute;
    top: 10px; left: 45vw;
    width: 100px;
    height: 30px;
    background: url(../IMG/Short_logo.svg) no-repeat center;
}

.top-bar {
    position: relative;
    top: 0px; left: 0px;
    width: 100%;
    height: 50px;
    background: #fff;
    padding: 10px 30px;
    z-index: 2;
}

.top-bar > .btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    opacity: 0.8;
    outline: none;
    padding: 0px 0px;
    margin: 0 10px;
}

.top-bar > .btn:hover {
    opacity: 1;
}

.top-bar > .btn-menu {
    background: url(../IMG/close-menu.svg) no-repeat center;
    background-size: 20px cover;
    
}

.top-bar > .btn-settings {
    background: url(../IMG/settings-work-tool.svg) no-repeat center;
    background-size: 20px cover;
}

.top-bar > .btn-notification {
    background: url(../IMG/Notithication.svg) no-repeat center;
    background-size: 20px cover;
}

.top-bar > .btn-mail {
    background: url(../IMG/Chat.svg) center;
    background-size: 20px cover;
    background-repeat: no-repeat;
    padding: 0px 45px;
}

.top-bar > .btn:not(.btn-menu) {
    float: right;
}

.top-bar > .avatar {
    position: relative;
    top: -3px;
    width: 35px;
    height: 35px;
    background: #C4CAD8;
    border-radius: 50%;
    padding: 0px;
    opacity: 0.9;
}

.top-bar > .avatar > img {
    width: 35px;
    border-radius: 50%;
}

.top-bar > .btn:not(.avatar) {
    margin-top: 5px;
}

.mainPageView {
    background: #f7f8fa;
    position: absolute;
    top: 60px;
    left: 225px;
    width: calc(100% - 225px);
    height: calc(100% - 5px);
}

/* проекты */
.proj-mark {
    width: 18px;
    position: absolute;
    top: 0px;
    right: 22px;
}

.deadline {
    margin: 20px 0px;
}

.dead-date {
    font-size: 18px;
    color: #3E3E3E;
}

.ul-check {
    list-style: none;
    display: grid;
    padding: 0px;
    margin: 0px;
}

.ul-check > li {
    margin: 5px 0px;
}
.zadachi {
    margin: 20px 0px 0px 0px;
}

.main-block-inline {
    display: inline-grid !important;
}
/* конец проектов */

/* организации */
.top-developer > ul { /* .топ разработчиков */
    list-style: none;
    margin: 10px 0px;
    padding-left: 25px;
}

.top-developer > ul > li {
    margin: 10px 0px;
    position: relative;
    color: #3e3e3e;
    font-weight: bold;
    font-size: 14px;
}

.top-developer > ul > li::before {
    position: absolute;
    content: '';
    background: #D4DEF5;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -20px;
} /* ./топ разработчиков */

.myProject {
    margin: 22px 0px;
}

.myProject > ul {
    margin: 5px 0px;
    padding-left: 25px;
}

.myProject > ul > li {
    list-style-type: none;
    color: #A8ACB7;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    margin-bottom: 7px;
}

.myProject > ul > li::before {
    position: absolute;
    content: '';
    background: #299EFF;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    top: 5px;
    left: -20px;
}

/* конец организаций */

/* задачи */
.content {
    padding: 0px 35px 14px 30px;
    height: 100%;
}

.content > ul {
    list-style: none;
}

.status {
    position: absolute;
    width: 15px;
    height: 15px;
    left: -30px;
    top: calc(50% - 7.5px);
    margin: auto 0px;
    background: #A8ACB7;
    border-radius: 50%;
    border: 1px solid #91959F;
}

.item-task {
    position: relative;
    margin: 20px 0px;
    background-color: #fff;
    border-radius: 5px;
    width: calc(100% - 20px);
    padding: 15px;
    box-shadow: 0 0 20px -5px rgba(145, 149, 159, 0.4);
}

.item-task .task-block {
    display: block;
    background: #fff;
    border-radius: 5px;
    text-align: left;
}

.task-block .task-text {
    display: inline-block;
    width: calc(100% - 300px);
    font-size: 14px;
    height: 100%;
    vertical-align: middle;
    word-wrap: normal;
    transition: color 0.4s ease-out;
}

.project-text {
    color: darkgrey;
    font-size: 12px;
    margin-right: 20px;
}

.task-date {
    font-size: 12px;
    word-wrap: break-word;
}

.check-task {
    display: inline-block;
    vertical-align: middle;
}

.check-task:checked + label > span {
	text-decoration: line-through;
}

.tright {
    float: right;
}

.tasks-right-block {
    display: inline;
    height: 50%;
    border-left: 1px solid #E6E6E6;
    padding-left: 10px;
}
.tasks-right-block > span{
    vertical-align: middle;
}
.tasks-right-block > div {
    display: inline;
}

.title-content:last-of-type{
    margin: 40px 0px 0px 0px;
}
/* конец задач */

/* профиль пользователя */
.profile-set-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    background: url(../../IMG/settings-work-tool.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.profile-avatar-block {
    margin: 0px auto;
    width: 200px;
    text-align: center;
}

.main-modal-block .profile-editava-btn {
    width: auto;
    padding: 8px 12px;
    color: #299EFF;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    border: 4px solid #299EFF;
    border-radius: 5px;
    width: auto;
    max-width: initial;
}
/* конц профиля пользователя */

/* подробнее о проекте */
.proj-mark-more {
    width: 18px;
    height: 38px;
    position: absolute;
    top: -14px;
    left: 318px;
}

.headerTitle > div {
    display: inline-block;
}

.pj-organization {
    margin: 10px 0px 25px;
}

.dead-date-more {
    font-weight: normal;
    font-size: 18px;
}

.zadachi-more {
    margin: 27px 0px;
}

.readyTask-text {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0px;
    color: #A8ACB7;
}
/* конец подробнее о проекте */

/* создание нового проекта */
.main-project-new input,
.main-project-new textarea,
.main-project-new select {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 8px;
    margin: 15px 0px;
    border: 1px solid #b7b7bf;
    border-radius: 5px;
    font-size: 12px;
    outline: none;
    transition-duration: 0.3s;
    transition-property: all;
    color: #3e3e3e;
    resize: none;
}

.main-project-new input:focus,
.main-project-new textarea:focus,
.main-project-new select:focus {
    border: 1px solid #299eff;
}

.main-project-new input[type="date"] {
    margin-top: 7px;
    width: 45%;
    cursor: text;
}

.main-project-new select {
    width: 45%;
}

.main-project-new select:invalid {
    color: gray;
}

.new-project .create-project {
    margin: 40px 30px 0px 0px;
    width: 152px;
    height: 39px;
    border: 2px solid #299eff;
}

.new-project .cancel-project {
    width: 152px;
    height: 39px;
    background-color: #F7F8FA;
    color: #3e3e3e;
    border: 2px solid #C4CAD8;
}
/* конец создания нового проекта */

/* подробнее о работнике */
.worker-avatar-img {
    position: absolute;
    top: 36px;
    left: 60px;
}

.worker-info-block {
    margin-top: 100px;
}

.worker-title-block {
    margin-left: 150px;
}

.worker-company-title {
    font-size: 32px;
    font-weight: bold;
    margin: 25px 0px 0px;
    color: #3e3e3e;
}

.worker-company-list {
    list-style-type: none;
    padding: 0px 45px 0px 15px;
    margin: 6px 0px 0px;
}

.worker-company-item {
    padding: 10px 0px;
    border-bottom: 1.5px solid #C4CAD8;
}

.company-name {
    color: #C4CAD8;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color;
}

.company-sub-menu {
    border: 1px solid #C4CAD8;
    padding: 18px;
    border-radius: 5px;
    display: none;
}

.company-task-name {
    font-size: 14px;
    font-weight: bold;
    color: #3e3e3e;
    width: calc(100% - 195px);
}

.company-task-procent {
    font-size: 12px;
    font-weight: bold;
    color: #299EFF;
    margin-right: 5px;
}

.sub-menu-item {
    margin-bottom: 16px;
}

/* Наведение на компанию */
.company-name:hover {
    color: #3e3e3e;
}

/* Активная компания */
.company-active {
    color: #3e3e3e;
    display: block;
    margin-bottom: 8px;
}

.company-active ~ .company-sub-menu {
    display: block;
}
/* конец подробнее о работнике */

/* список работников организации */
.intoteam-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 29px;
    height: 34px;
    background: url(../../IMG/avatar.svg) no-repeat center;
    background-size: cover;
    cursor: pointer;
}

.member-list {
    margin: 0px auto;
    padding: 0px;
    list-style-type: none;
}

.member-list-item {
    margin-bottom: 20px;
}

.member-list-item:last-child {
    margin-bottom: 0px;
}

.member-list-item::after {
    clear: both;
}

.member-avatar-img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #A8ACB7;
}

.member-avatar-block {
    position: relative;
    display: inline-block;
}

.member-status {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #8EE052;
}

.member-name {
    font-size: 16px;
    font-weight: bold;
    color: #3e3e3e;
    text-align: left;
    margin-bottom: 4px;
}

.member-sub-name {
    font-size: 10px;
    font-weight: bold;
    color: #91959F;
}

.send-mess-btn {
    width: 21px;
    height: 22px;
    background: url(../../IMG/member_mail_send.svg) no-repeat center;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
}

.member-more-btn {
    background-color: #299eff;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 9px 20px;
    border-radius: 5px;
}

.member-name-block {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.project-sub-title {
    font-size: 14px;
}
/* конец списка работников организации */
.modal-worker-list {
    position: absolute;
    left: -240px;
    right: 0px;
    top: -60px;
    bottom: 0px;
    z-index: 10;
}

/* Новая задача */
.modal-addtask-form {
    box-sizing: border-box;
    margin: 45px auto;
    padding: 15px 25px 25px;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 30px -10px rgba(0,0,0, 0.2);
    z-index: 20;
}

.modal-addtask-form input, 
.modal-addtask-form textarea,
.modal-addtask-form select {
    width: 100%;
    margin: 10px 0px;
    color: #91959f;
}

.modal-addtask-form label {
    font-size: 15px;
    color: #91959F;
    font-weight: normal;
}

.modal-addtask-form button {
    margin: 10px 0px 0px 0px;
}

.cancel-task {
    float: right;
    background: #fff;
    color: #91959F;
    border: 1px solid #91959F;
}

.impTaskNew > option {

}
/* Конец новой задачи */
.modal-invite-org, .modal-invite-proj, .modal-create-org {
    position: absolute;
    left: 35%;
    right: 35%;
    top: 30%;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 20px -10px #000;
}

.modal-more-worker {
	top: 70px;
    width: 520px;
}

.modal-invite-org input, .modal-invite-proj select, .modal-create-org input {
    width: 100%;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #C4CAD8;
    border-radius: 6px;
    outline: none;
    resize: none;
    color: #3e3e3e;
}

.main-modal-block button {
    max-width: 140px;
    width: 48%;
    margin-right: 0px;
}

.main-modal-block .modal-cancel-btn {
    float: right;
}

#loginUserIO::-webkit-calendar-picker-indicator {
    display: none;
}

.mainTitleMoreProj {
    position: relative;
    font-size: 20px;
    margin: 15px 0px 12px 30px;
    font-weight: bold;
    color: #91959f;
}

#mainProjMoreTitle {
    display: inline-block;
    margin-right: 10px;
}

.context-btn-moreProj {
    display: inline-block;
    width: 20px;
    height: 10px;
}

/* кнопки в организациях */
.myOrg > .block-content > .btn-content {
	display: none;
}

.myOrgControl > .block-content > .btn-content {
	left: 95px;
}

.groupOut-btn {
    display: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.orgSetBlock {
    display: none;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 16px;
    cursor: pointer;
    background-image: url(../IMG/settings-work-tool.svg);
}

.myOrg .groupOut-btn {
	display: block;
}

.myOrgControl .orgSetBlock {
	display: block;
}
/* конец кнопки в организациях */

.main-task-block .mainTitle {
	width: auto;
}

/* ЗАГлУШКИ */
.myProj:empty, .myProjControl:empty, 
.myOrg:empty, .myOrgControl:empty {
    width: 360px;
    height: 460px;
    margin: 10px 0 0 30px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}
.myProj:empty {
    background-image: url(../IMG/stubMyProj.svg);
}
.myProjControl:empty {
    background-image: url(../IMG/stubControlProj.svg);
}
.myOrg:empty {
    background-image: url(../IMG/stubMyOrg.svg);
}
.myOrgControl:empty {
    background-image: url(../IMG/stubControlOrg.svg);
}

#mainMyTaskContainer:empty, #mainControlTaskContainer:empty {
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
}
#mainMyTaskContainer:empty {
    background-image: url(../IMG/stubMyTask.png);
}
#mainControlTaskContainer:empty {
    background-image: url(../IMG/stubControlTask.png);
}
/* КОНЕЦ ЗАГРУШКИ */