.top-developer > ul {
    list-style: none;
    margin: 10px 0px;
}

.top-developer > ul > li {
    margin: 10px 0px;
    position: relative;
}

.top-developer > ul > li::before {
    position: absolute;
    content: '';
    background: yellow;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -20px;
}

.top-developer-title {
    color: #299EFF;
    font-size: 18px;
}
