/* .топ разработчиков */
.top-developer > ul {
    list-style: none;
    margin: 10px 0px;
    padding-left: 25px;
}

.top-developer > ul > li {
    margin: 10px 0px;
    position: relative;
    color: #3e3e3e;
    font-weight: bold;
    font-size: 14px;
}

.top-developer > ul > li::before {
    position: absolute;
    content: '';
    background: #D4DEF5;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -20px;
} /* ./топ разработчиков */

.myProject {
    margin: 22px 0px;
}

.myProject > ul {
    margin: 5px 0px;
    padding-left: 25px;
}

.myProject > ul > li {
    list-style-type: none;
    color: #A8ACB7;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    margin-bottom: 7px;
    
}

.myProject > ul > li::before {
    position: absolute;
    content: '';
    background: #299EFF;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    top: 5px;
    left: -20px;
}
.groupOut-btn {
    width: 35px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
