.block-content {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 480px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    margin: 10px 5px;
    box-shadow: 0 0 20px -5px #91959f66;
}

.content-btn {
    position: absolute;
    bottom: 20px;
    left: 65px;
    padding: 10px 40px;
    background: #299eff;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.content-btn:hover {
    background: #2595f2;
}

.caption {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.name-company {
    font-size: 15px;
    color: #a8acb7;
}

.deadline {
    margin: 20px 0px;
}

.dead-date {
    font-size: 14px;
    color: #3E3E3E;
}

.manager {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

.manager-name {
    color: #a8acb7;
    font-size: 12px;
    font-weight: normal;
}

.tz-content {
    color: #a8acb7;
    margin: 7px 0px 0px 0px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 2;
}

.zadachi {
    margin: 20px 0px 0px 0px;
}

.caption-task {
    color: #299eff;
    font-weight: bold;
    font-size: 18px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, .3);
    outline: none;
    margin: 0px 10px 0px 0px;
    box-sizing: border-box;
    border-radius: 2px;
    vertical-align: middle;
}

input[type="checkbox"] + label {
    font-size: 14px;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label {
    color: #c4cad8;
}

input[type="checkbox"]:checked:before {
    content: "";
    display: block;
    width: 9px;
    height: 14px;
    border: 0 solid #299eff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotateZ(45deg);
    margin: -6px 3px;
    pointer-events: none;
}

.ul-check {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.ul-check > li {
    margin: 10px 2px;
}

.button-more {
    text-align: right;
    padding: 10px;
    margin: 20px 0px;
}

.carusell {
    width: calc(100% - 30px);
    position: absolute;
    overflow-x: scroll;
    overflow-y: hidden;
    height: calc(100% * 66);
}
.carusell > ul{
    list-style: none;
    width: 1200px;
    padding: 0px;
    margin: 0px 0px 20px 0px;
}
.carusell > ul > div{
    display: inline-block;
    margin-right: 70px;
}
.carusell > ul > div >li{
    display: inline;
    margin-right: 20px;
}

hr {
    border: #DDDDDD 0.5px solid;
    width: 85%;
    margin: 2px 0px;
}

.proj-mark {
    width: 18px;
    position: absolute;
    top: 0px;
    right: 22px;
}
