.proj-mark {
    width: 18px;
    position: absolute;
    top: 0px;
    right: 22px;
}

.deadline {
    margin: 20px 0px;
}

.dead-date {
    font-size: 14px;
    color: #3E3E3E;
}

.ul-check {
    list-style: none;
    display: grid;
    padding: 0px;
    margin: 0px;
}

.ul-check > li {
    margin: 5px 0px;
}
.zadachi {
    margin: 20px 0px 0px 0px;
}
