.proj-mark {
    width: 18px;
    height: 38px;
    position: absolute;
    top: -14px;
    left: 318px;
}

.headerTitle > div {
    display: inline-block;
}

.pj-organization {
    margin: 10px 0px 25px;
}

.dead-date {
    font-weight: normal;
    font-size: 18px;
}

.deadline {
    margin-bottom: 20px;
}

.zadachi {
    margin: 27px 0px;;
}

.readyTask-text {
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0px;
    color: #A8ACB7;
}

.ul-check {
    list-style: none;
    display: grid;
    padding: 0px;
    margin: 0px;
}

.ul-check > li {
    margin: 5px 0px;
}