.proj-mark {
    width: 18px;
    position: absolute;
    top: 0px;
    right: 22px;
}

.name-company {
    font-size: 14px;
    color: #a8acb7;
}

.deadline {
    margin: 20px 0px;
}

.dead-date {
    font-size: 14px;
    color: #3E3E3E;
}

.tz-text {
    color: #a8acb7;
    margin: 7px 0px 0px 0px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 2;
}

.zadachi {
    margin: 20px 0px 0px 0px;
}

.caption-task {
    color: #299eff;
    font-weight: bold;
    font-size: 18px;
}

.ul-check {
    list-style: none;
    display: grid;
    padding: 0px;
    margin: 0px;
}

.ul-check > li {
    margin: 5px 2px;
}