.form-reg {
    width: 400px;
    height: 550px;
    background-color: #f7f8fa;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0px;
}

input, textarea, select {
    margin: 0 auto;
    display: block;
    width: 250px;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #b7b7bf;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    color: #79797b;
    background: #fff;
}

label[for="bday"] {
    display: block;
    text-align: left;
    padding-left: 0px;
    color: #91959F;
}

input[id="bday"] {
    margin-top: 4px;
    padding: 8px 10px;
}

input[type="button"] {
    background-color: #299EFF;
    color: #fff;
    font-weight: 550;
    opacity: 0.8;
}

input[type="button"]:hover {
    opacity: 1;
}

.link {
    display: block;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    color: #b7b7bf;
    opacity: 0.9;
}
.short_logo {
    margin: 20px auto;
    width: 105px;
    height: 15px;
    background: url(../IMG/Short_logo.svg) no-repeat center;
    background-size: cover;
}

.greeting {
    margin: 35px;
    text-align: center;
}

.gr-title {
    font-size: 22px;
    font-weight: bold;
}

.gr-description {
    font-size: 12px;
    color: #91959F;
}

.stage-title {
    font-size: 24px;
    font-weight: 800;
    color: #C4CAD8;
    text-align: left;
    padding-left: 0px;
}

.stages {
    position: relative;
    height: 280px;
}

.stage-1 {
    position: absolute;
    left: 75px;
    display: block;
}

.stage-2 {
    position: absolute;
    left: 75px;
    display: none;
}

.stage-3 {
    position: absolute;
    left: 75px;
    display: none;
}