
.stat {
    position: absolute;
    width: 15px;
    height: 15px;
    left: -30px;
    display: block;
    margin: auto 0px;
    border-radius: 50%;
    background-color: red;
}

.block-task {
    position: relative;
    width: 95%;
    margin-left: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 40px;
}

.left {
    display: inline-block;
    width: 60%;
}

.right {
    display: inline-block;
    width: 38%;
    border-left: 2px solid #000;
}
