.content {
    padding-left: 30px;
    padding-right: 35px;
    height: 100%;
}

.content > ul {
    list-style: none;
}

.status {
    position: absolute;
    width: 15px;
    height: 15px;
    left: -30px;
    top: calc(50% - 7.5px);
    margin: auto 0px;
    background: #ff432f;
    border-radius: 50%;
}

.item-task {
    position: relative;
    margin: 20px 0px;
    background-color: #fff;
    border-radius: 5px;
    width: calc(100% - 20px);
    padding: 10px;
}

.item-task .task-block {
    display: block;
    background: #fff;
    border-radius: 5px;
    text-align: left;
}

.task-block .task-text {
    display: inline-block;
    word-wrap: break-word;
    width: calc(100% - 300px);
    font-size: 14px;
    height: 100%;
    vertical-align: middle;
    word-wrap: break-word;
}

.project-text {
    color: darkgrey;
    font-size: 12px;
    word-wrap: break-word;
}

.task-date {
    font-size: 12px;
    word-wrap: break-word;
}

.check-task {
    display: inline-block;
    vertical-align: middle;
}
.tright {
    float: right;
}

.tasks-right-block {
    display: inline;
    height: 50%;
    border-left: 1px solid #E6E6E6;
    padding-left: 10px;
}
.tasks-right-block > span{
    vertical-align: middle;
}
.tasks-right-block > div {
    display: inline;
}

.title-content:last-of-type{
    margin: 40px 0px 0px 0px;
}